# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtual environment
.venv/

# Pytest
.pytest_cache/

# Allure
allure-results/
allure-report/

# Environment
.env

# uv
.uv/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml